@import url('https://fonts.googleapis.com/css2?family=Anton&family=DM+Sans&family=Dancing+Script&display=swap');
$fonts-headline: "Anton", sans-serif;
$fonts-headline-2: "Dancing Script", cursive;
$fonts-body: "DM Sans", sans-serif;
$background-color: linear-gradient(210deg, #2346b5, #593ea1, #b102a6);
$primary: #d9d9d9;
$accent1: #2f187b;
$accent2: #a2dfd9;
$accent3: #ffbd59;
$text-light: #fff;