@use 'variables' as *;

@mixin breakpoint($size) {
    @if $size == 32.5em { @media (min-width: $size) { @content; } }
    @else if $size == 64em { @media (min-width: $size) { @content; } }
    @else if $size == 199px { @media (max-width: $size) { @content;}}
    @else {@media (min-width: $size) { @content}}
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-family: $fonts-headline;
    font-size: $xxxlarge;
    text-align: right;
    border-right: 2px solid $accent3;
    padding: $medium;
    background: $accent1;
}

h1, h2 {
    color: $primary;
}

h2 {
    font-size: $xxlarge + $tiny;
    text-align: left;
    background: $primary;
    color: $accent1;
    padding: $medium;
    animation: scroll 2s ease infinite backwards;   
}


@keyframes scroll {
    from {
        text-decoration: underline;
    }
    to {
        text-decoration: none;
    }
}

h2, h3, h4, h5 {
    font-family: $fonts-headline-2;
}

h3 {
    font-size: $xxlarge + $tiny;
}

a {
    color: $accent3;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: 1.5;
    padding-top: $medium;
    padding-bottom: $medium;
    color: $primary;
}   

li {
    margin: $small 0;
    display: flex;
    align-items: center;
    column-gap: $tiny;
    font-size: $inter;
    a {
        font-size: .9rem;
    }
    &::before {
        content: '';
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url("./images/star.png");
        background-size: cover;
    }
}


